{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGGING</title>
    <link rel="stylesheet" href="{% static 'home.css' %}"> 

</head>
<body>
    <header>
        <div class="header-content">
            <nav>
                <a href="{% url 'landingpage' %}">HOME</a>
                <a href="{% url 'add' %}">ADD POST</a>
            </nav>
        </div>
    </header>

    <h1>Application Home</h1>
    
    
    <section id="gallery" class="section gallery">
        <div class="image-with-text">
            <img src="https://www.shutterstock.com/image-photo/bloggingblog-concepts-ideas-white-worktable-260nw-1029506242.jpg" alt="Restaurant Image">
            <div class="image-overlay">
                <a  href="{% url 'all' %}" class="submit-btn"  >POST </a>
            </div>
        </div>
    </section>
</body>
</html>